<div id="<%= dom_id course %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= course.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descripcion:</strong>
    <%= course.descripcion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha inicio:</strong>
    <%= course.fecha_inicio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Costo:</strong>
    <%= course.costo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Teacher:</strong>
    <p>Id: <%= course.teacher_id %></p>
    <p>Nombre y apellido: <%= course.teacher.nombre %> <%= course.teacher.apellido %></p>
  </p>

</div>
