<%= form_with(model: course, class: "contents") do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :fecha_inicio %>
    <%= form.date_field :fecha_inicio, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :costo %>
    <%= form.text_field :costo, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <!--<div class="my-5">
    <%#= form.label :teacher_id %>
    <%#= form.text_field :teacher_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>-->
  <div class="my-5">
    <%= form.label :teacher_id, t('.teacher_id') %>
    <%= form.collection_select :teacher_id, Teacher.all, :id, :nombre, { prompt: 'Selecciona profesor' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <!--<div class="my-5">

    <%#= form.label :material_id, t('.material_id') %>
    <%#= form.collection_select :material_id, Material.all, :id, :nombre, { prompt: 'Selecciona Material' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>

  </div>-->
  <div class="my-5">
    <%= form.fields_for :material do |material_form| %>
      <%= material_form.label :nombre, "Nombre del Material" %>
      <%= material_form.text_field :nombre, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% end %>
  </div>

<!--
  <div data-controller="nested-form">
    <button type="button" id="addInscriptionButton", data-action="nested-form#add">Agregar Inscriptos</button>
    <div class="inscriptions" data-nested-form-target="container">
      <div class="my-5">
        <%#= form.fields_for :inscriptions do |g| %>
          <%#= render 'inscriptions_student', f:g %>
        <%# end %>
      </div>
    </div>
    <template data-nested-form-target="template">
      <%#= form.fields_for :inscriptions, course.inscriptions.build, child_index: "NEW_RECORD" do |g| %>
        <%#= render 'inscriptions_student', f:g %>
      <%# end %>
    </template>

  </div>-->


  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

